@use "reset";
@use "variables" as *;
@use "responsive" as *;

* {
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    font-size: $html-font;

    @include tablet {
        font-size: calc($html-font * 1.25);
    }

    @include desktop {
        font-size: calc($html-font * 1.5);
    }
}
