@use "responsive" as *;

// Typography
$font: "Noto Sans";

// Sizes
$html-font: 16px;

// Borders
$border_md: rem(20);

// Spacing:
$spacing_sm: rem(4);
$spacing_md: rem(8);
$spacing_lg: rem(16);
$spacing_xl: rem(32);
$spacing_xxl: rem(64);
$spacing_xxxl: rem(128);

// Z-Index
$zIndex_sm: 1;
$zIndex_md: 10;
$zIndex_lg: 100;
$zIndex_xl: 1000;
$zIndex_xxl: 10000;
$zIndex_xxxl: 1000000;

// Components
$nav_width: 90%;
$nav-container-spacing: calc((100% - $nav_width) / 2);
