// Typography
$font: 'Noto Sans';

// Sizes
$html-font: 16px;

// Breakpoints
$screen_mobile: 320px;
$screen_tablet: 768px;
$screen_tablet_portrait: 992px;
$screen_desktop: 1200px;
$screen_desktop_xxl: 1440px;