@use "../core/variables" as *;
@use "../core/responsive" as *;

.app-container {
    background-color: $gray-soft;
    padding: $spacing_xl;
    padding-top: $spacing_xxxl;

    main {
        @include center;
        background-color: white;
        z-index: $zIndex_md;
        position: relative;
        min-height: rem(400);
        min-width: rem(300);

        width: 80%;
        margin: 0 auto;
        padding: $spacing_md;
        margin-top: $spacing_xxxl;
        border-radius: $border_md;

        @include desktop {
            padding: $spacing_xxl $spacing_xl;
            width: 600px;
            min-width: rem(600);
        }
    }

    footer {
        position: relative;
    }
}