@use "../core/variables" as *;
@use "../core/responsive" as *;

nav {
    backdrop-filter: $bg_blur;
    -webkit-backdrop-filter: $bg_blur;
    border-radius: $border_md;
    left: $nav-container-spacing;
    margin: 0 auto;
    padding: 16px 24px;
    position: fixed;
    right: $nav-container-spacing;
    top: $spacing_xl;
    width: $nav_width;
    z-index: $zIndex_xxxl;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing_md;
    
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    p:first-child {
        font-size: $font-xs;
    }

    select {
        padding: $spacing_xs $spacing_md;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: $border_xs;
    }
}