@use "../core/variables" as *;

nav {
    backdrop-filter: $bg_blur;
    border-radius: $border_md;
    left: $nav-container-spacing;
    margin: 0 auto;
    padding: 16px 24px;
    position: fixed;
    right: $nav-container-spacing;
    top: $spacing_xl;
    width: $nav_width;
    z-index: $zIndex_xxxl;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p:first-child {
        font-size: $font-xs;
    }

    select {
        padding: $spacing_xs $spacing_md;
        background-color: $gray-soft;
        border-radius: $border_xs;
    }
}